.navbar {
    background-color: #000;
    width: 100%;
}
.nav-divo {
    width: 1250px;
    margin: 10px auto;
    display: flex;
    align-items: center;
}
.navbar-brand, .nav-link, .bi {
    color: #fff !important;
}
.cart-count {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    color: white;
    font-size: 0.75rem;
    padding: 2px 6px;
    border-radius: 50%;
}

.myContainer {
    width: 1250px;
    margin: 10px auto;
}

.card, .card-body {
    width: 100%;
    border-radius: 50px;
}

img {
    width : 100%;
    height: 300px;
    object-fit : cover;

    border-radius: 15px;
    padding: 3px;
}

.headerDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filters {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 8px;
  width: 300px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.filters input, .filters select {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
}
#bookList {
  margin-top: 2rem;
}
